{
  "presets": ["react"],
  "plugins": ["transform-es2015-modules-commonjs"],
  "env": {
    "production": {
    },
    "development": {
      "plugins": [
        //"react-hot-loader/babel"
      ]
    }
  }
}
